@page
@model EjemploRazorPages.Pages.JavaScript.Leccion1Model
@{
}
<html>
    <head>
    <script>


    </script>
<title>Leccion 1</title>
    </head>
<body>
    <h1>Leccion 1</h1>
    <h2>Variables, tipos de datos, sintaxis</h2>


    <script>
        //scripts en head para metodos que se ejecutaran despues
        //script en body se ejcutan al inicio
        //tipos de datos: numeric, boolean, text, object, null(especial), undefined(especial, variable declarada que no ha tenido nada en su interior)
        //let sirve para guardar cualquier tipo de valor
        alert("hola");
        {
        var x=15;
        }
        let y="hola";
        y=false;
        let z={nombre:"juan",edad:"29"};
        console.log(x);
        var w= 5.3
        //declarar una variable var hacer que esta se declare desde antes mediante holsing
        //al usar let la variable solo se puede usar en su mismo bloque

        const z;
        z = 5; //const tambien hace holsing

        //operadores aritmeticos=  +,-,*,/,%,**
        let a = 2 + 2;
        let a = 3 ** 3;
        //logicos= &,|,!,&&,||
        //relaciones: >,<,>=,<=,==,===,!=
        //asignacion: +=, -=,*=,/=,&=,|=,++,--,=

        let b = 3.0;
        let c = 3;
        let d = b === c;

        // el operador === significa que dos valores son identicos en todos los aspectos, mientras que == solo le importa que tengan el mismo valor

        let e = true;
        let f &=fasle;

        e |= true;





    </script>
</body>
</html>
