@page
@model EjemploRazorPages.Pages.JavaScript.Leccion1Model
@{
}
<html>
    <head>
<title>Leccion 1</title>
    </head>
<body>
    <h1>Leccion 1</h1>
    <h2>Variables, tipos de datos, sintaxis</h2>


    <script>
        alert("hola");
        //numeric,boolean,text,object
        let x=15;
        let y="hola";
        y=false;
        let z={nombre:"juan",edad:"29"};


    </script>
</body>
</html>
