@page
@model EjemploRazorPages.Pages.JavaScript.Leccion5Model
@{
}
<html>
    <head>
        <title>Leccion 5</title>
        <style>
            table{
                width:259px;
                margin:auto;
                border-collapse:collapse;
            }
            table td{
                border:1px solid black;
                height:50px;
            }
            .selected{
                background-color:green;
            }
        </style>
    </head>
    <body>
        <h1>Leccion 5. Tablas con DOM</h1>
        <table>
            <tr>
           <td></td>
           <td></td>
            <td></td>
            <td></td>
            <td></td>
                <tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        <tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        <tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        <tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        <tr>
        </table>
        <script>
            const tabla=document.querySelector("table");
            tabla.addEventListener("click",function(event){
           if(event.target.tagName=="TD"){
               let celda=event.target;
              
               let papa=celda.parentNode;
               
               let encendido=papa.querySelector(".selected");
              
               if(encendido){
                   encendido.classList.remove("selected");
               }
               
               celda.classList.add("selected");
           }
            
            });
        </script>
    </body>
</html>