@page
@model EjemploRazorPages.Pages.JavaScript.Leccion7Model
@{
}
<html>
    <head>
        <title>Leccion 7</title>
    </head>
    <body>
        <form>
            <label>Num. Control: </label>
            <input type="text" />
            <label>Nombre: </label>
            <input type="text" /><br />
            <input type="button" value="Agregar" />
        </form>
        <table>
            <thead>
                <tr>
                    <th>Num. Control</th>
                    <th>Nombre</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <
                </tr>
            </tbody>
        </table>
    </body>
</html>